[data-ui-kit='admin'] [data-slot='date-time-picker']:not([data-variant='unstyled']){
	display: grid;
	gap: 8px;
}

@media (min-width: 640px) {
	[data-ui-kit='admin'] [data-slot='date-time-picker']:not([data-variant='unstyled']){
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}
